# dependencies
node_modules/

# build output
.next/
out/

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# system
.vscode/
.idea/
*.log
